# Environnement et secrets
.env
ca.pem

# Docker
Dockerfile
docker-compose.yml
.dockerignore
docker/

# Systeme
.DS_Store
Thumbs.db

# Sujet / docs de cours
SUJET.pdf

# Uploads utilisateurs (garder le default)
uploads/*
!uploads/default.svg
assets/uploads/
assets/images/